.container {
  max-width: 1000000px;
}

.full-height {
  height: 90vh;
}

.scrollable {
  overflow-y: scroll;
}

.user-list {
  height: 35vh;
}

.btn-outline-main {
  color: #6a1a80;
  border-color: #6a1a80
}

.btn-outline-main:active, .btn-outline-main:hover {
    color: #fff;
    background-color: #6a1a80;
    border-color: #6a1a80;
}

.border-main {
  border-color: #6a1a80!important;
}