.container {
  max-width: 1000000px;
}

.full-height {
  height: 90vh;
}

.scrollable {
  overflow-y: scroll;
}

.user-list {
  height: 30vh;
}

.btn-outline-main {
  color: #7f4dca;
  border-color: #7f4dca
}

.btn-outline-main:active, .btn-outline-main:hover {
    color: #fff;
    background-color: #7f4dca;
    border-color: #7f4dca;
}

.border-main {
  border-color: #7f4dca!important;
}