.container {
  max-width: 1000000px;
}

.full-height {
  height: 90vh;
}

.scrollable {
  overflow-y: scroll;
}

.user-list {
  height: 35vh;
}

.btn-outline-main {
  color: #6a1a80;
  border-color: #6a1a80
}

.btn-outline-main:active, .btn-outline-main:hover {
    color: #fff;
    background-color: #6a1a80;
    border-color: #6a1a80;
}

.border-main {
  border-color: #6a1a80!important;
}

.btn-main {
  color: #fff;
  background-color: #6a1a80;
  border-color: #6a1a80;
}

.game-stats {
  gap: 1rem;
  flex-wrap: wrap;
}

.game-stats > span {
  white-space: nowrap;
}

.read-only {
  cursor: default;
}
